
[gcode_macro T0]
gcode:

[gcode_macro M203]
gcode:

[gcode_macro M201]
gcode:

[gcode_macro M900]
gcode:
  #{% if 'K' in params %}
   # {% if 'E' in params %}
    #  SET_PRESSURE_ADVANCE EXTRUDER={params.E} ADVANCE={params.K}
    #{% else %}
   #   SET_PRESSURE_ADVANCE ADVANCE={params.K}
   # {% endif %}
  #{% endif %}

[gcode_macro M205]
gcode:
 # {% if 'X' in params %}
  #  SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={params.X}
  #{% elif 'Y' in params %}
   # SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={params.Y}
  #{% endif %}


[gcode_macro START_PRINT]
# Reference https://github.com/KevinOConnor/klipper/blob/master/docs/Config_Reference.md#gcode_macro
# On how to override default parameters
#default_parameter_BED_TEMP: 65
#default_parameter_EXTRUDER_TEMP: 205
#default_parameter_ANTI_OOZE_TEMP: 170

gcode:
  {% set BED_TEMP = params.BED_TEMP|default(65)|int %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(205)|int %}
  {% set ANTI_OOZE_TEMP = params.ANTI_OOZE_TEMP|default(170)|int %}
  # Home the printer
  #Set both target temperatures to warm up at same time
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={ANTI_OOZE_TEMP|int}
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP|int}
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP|int}
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP|int}
  G28
  #G34
  BED_MESH_PROFILE LOAD=x1
  # Z offset: gap size
  SET_GCODE_OFFSET Z=-0.02
  ## Use absolute coordinates
  G90
  #Move the nozzle to left aft
  G1 X4 Y210 Z10 F4000
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP|int}
  # Move the nozzle near the bed
  G1 X4 Y200 Z3 F3000
  # Move the nozzle very close to the bed
  #G1 Z0.3 F300
  G92 E0 ;Reset Extruder
  G1 X4 Y140 Z0.3 F3000.0
  G1 Z0.3 F1000
  #line one:
  G1 X4 Y5 Z0.3 F1500.0 E15
  G1 X4.4 Y5 Z0.3 F3000.0
  #line two:
  G1 X4.4 Y100 Z0.3 F1500.0 E30
  G1 Z3 F3000
  G21 ; set units to millimeters
  G90 ; use absolute coordinates
  M83 ; use relative distances for extrusion
  G92 E0

[gcode_macro END_PRINT]
gcode:
  # Turn off bed, extruder, and fan
  M140 S0
  M104 S0
  M106 S0
  # Move nozzle away from print while retracting
  G91
  G1 X-2 Y-2 Z2 E-2 F300
  G1 E-4 F200
  # Raise nozzle by 30mm
  G1 Z30 F1000
  #G1 X50 Y50
  G1 X30 Y30 F2000
  G90
  # Disable steppers
  M84

[pause_resume]
recover_velocity: 50.

#[filament_switch_sensor my_sensor]
#Move filament runout sensor from TFT to X+ endstop pin. Uncomment all but this line if you want to use this
#pause_on_runout: False
#runout_gcode: PAUSE
#insert_gcode: RESUME
#switch_pin: ar2

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    M300 # beep
    G91
    G92 E0
    G1 E350 F{max_velocity}
    G1 E25 F{speed} #purge
    M300
    M300

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    G91
    M300 # beep
    G92 E0
    G1 E25 F{speed} # purge
    G1 E-420 F{max_velocity}
    M300
    M300
